.container
  = form_tag sessions_path, role: 'form', class: 'form-signin' do
    %h2
      .form-signin-heading
        Log in
    = text_field_tag :email, params[:email], placeholder: 'Email address', class: 'form-control', required: '', autofocus: ''
    = password_field_tag :password, params[:password], placeholder: 'Password', class: 'form-control', required: ''
    = check_box_tag :remember_me
    记住我
    = submit_tag "Log in", class: 'btn btn-lg btn-primary btn-block'
